
@{
    ViewData["Title"] = "MyView";
}
     
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <p>
        @ViewBag.Greeting World (from the view)
    </p>

    <div class="text-center">
        <h3>We're going to have an exciting party. </h3>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
    </div>
    <p>Click <a class="navbar-link" asp-action="ListResponses">here</a> to see who is coming.</p>
</body>
</html>

